
/* FAQ page start================================================================== */
.div35-main-menu{
    width: 100%;
    height: 680px;
    background-size: 100% 100%;
    background-color: black;

}
.div-faq-main{
    width: 100%;
    height:600px;
    /* border:2px solid red */
}

.faq-head{
    margin-top: 2%;
    width: 100%;
    height:50px;
    color: white;
    font-size: 22px;
    /* border:2px solid greenyellow */
}
.faq-head h1{
    font-size: 35px;
    margin-left: 2%;
}

.faq-button{
    width: 70%;
    height: 280px;
    /* border: 2px solid yellowgreen; */

}
.faq-button button{
    background-color: #fff;
    font-size: 32px;
    height: 50px;
    margin-left: 4%;
    margin-top: 3%;
    cursor: pointer;
}
.faq-btn1{
    width: 100px;
}
.faq-btn2{
    width: 180px;
}
.faq-btn3{
    width: 290px;
}
.faq-btn4{
    width: 140px;
}
.faq-btn5{
    width: 190px;
}
.faq-btn6{
    width: 150px;
}
.faq-btn7{
    width: 260px;
}
.faq-btn8{
    width: 160px;
}
.faq-button button:hover{
    background-color: gray;
    color: white;
}
.faq-content{
    width: 70%;
    margin-left: 2%;
    height: 180px;
    color: white;
    font-size: 22px;
    letter-spacing: 1px;
}
.faq-content p{
    margin-top: 3%;
}
/* faq page end */

/* Responsive faq page start ---------------------> */
@media(max-width:500px){
    
/* faq page start ------------------------------------------------------------------------------------------------> */

.div36-main-menu{
    width: 100%;
    height: 580px;
    background-size: 100% 100%;
    background-color: black;
}
.div-faq-main{
    width: 100%;
    height: 500px;
    margin-top: -5%;

}
.faq-head{
    font-size: 17px;
}
.faq-button{
    width: 100%;
    height: 180px; 
    margin-top: -10%;
   
}
.faq-button button{
    font-size: 17px;
    height: 30px;
}

.faq-btn1{
    width: 60px;
}
.faq-btn2{
    width: 90px;
}
.faq-btn3{
    width: 150px;
}
.faq-btn4{
    width: 100px;
}
.faq-btn5{
    width: 110px;
}
.faq-btn6{
    width: 100px;
}
.faq-btn7{
    width: 120px;
}
.faq-btn8{
    width: 100px;
}
.faq-button button:hover{
    background-color: gray;
    color: white;
}
.faq-content{
    width: 100%;
    margin-left: 2%;
    height: 210px;
    color: white;
    font-size: 16px;
    /* border: 2px solid yellow; */
    letter-spacing: 1px;
}
.faq-content p{
    margin-top: 3%;
}
br{
    display: none;
}
}